:root {
  --textColor: white;
  --textColorSchPg: rgb(38, 35, 30);
  --titleBackgroundColor: rgb(93, 91, 91);
  --fontFamily: Arial, Helvetica, sans-serif;
  --FontTitle: 'Montserrat', sans-serif;
  --FontHeader: 'Bebas Neue', cursive;
}

header{
  font-family: var(--FontTitle);
  text-align: center;
  font-size: 31px;
  font-weight: 900;
  word-spacing: 4px;
  line-height: 0.75;
  margin: 10px 0px 10px 0px
}

.navBar{
  display: inline-flex;
  justify-content: flex-start;
  color:var(--textColor);
  font-family: var(--fontFamily);
  font-size: 20px;
  width: 100%;
  
}

.navBarSearch{
  display: inline-flex;
  justify-content: flex-start;
  color:var(--textColorSchPg);
  font-family: var(--fontFamily);
  font-size: 20px;
  width: 100%;
  
}

.menu{
  margin: 0px;
  padding: 0 0 0 0;
}

.menu img {
  height: 80px;
  width: auto;
  margin-right: 10px;
}

.menu li {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
/* popup text block */
.text-block, .text-cheese{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4); /* White color with 50% opacity */
  padding: 10px;
  border-radius: 5px;
  color: black;
  width: 300px;
  z-index: 1; /* specifies the stacking order of an element in relation to other elements on a web page. */
}

.menu li:hover .text-block {
  display: block;
}

.menu li:hover .text-cheese {
  display: block;
}
  
/* search button */

.searchSignin{
  height: 0px;
}

.searchSignin form {
  position: relative;
  /* display: inline-block; */
  margin-top: 60px;
  height: fit-content;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-search {
  font-size: xx-large;
  color: rgb(29, 28, 28);
}

.searchSignin{
  display: flex;
  justify-content: space-around;
  margin-left: 750px;
}

.searchSignin2{
  margin-left: 480px;
}

.searchSignin p {
  margin-top: 70px;
  padding-left: 40px;
  
}


.fa-regular{
  margin-top: 60px;
  font-size: xx-large;
  padding-left: 20px;
}

  select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 100px;
  }
  
  .indexPage {
    background-image: url("images/pexels-pixabay-36741.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
  }

.siteIntro{
  color: var(--textColor);
  font-family: var(--fontFamily);
  font-weight: 10;
  padding-right: 5%;
  padding-top: 5%;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-shadow: 2px 0px 4px rgb(20, 20, 20);
}


.siteIntro>p{
  width: 47ch;
  font-size: 20px; 
}


.siteIntro>.title{
  font-family: var(--FontTitle);
  width: 631px;
  font-size: 61px;
  font-weight: 900;
  text-align: left;
  margin-block-start: 50px;
  word-spacing: -6px;
  line-height: 0.75;

}

.btnExplore{
  border: 2px solid white;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  font-family: var(--fontFamily);
  color: var(--textColor);
  font-size: larger;
  background-color: transparent;
  text-shadow: 2px 0px 4px rgb(20, 20, 20); 
}

.siteIntro button {
  margin: auto 30px auto auto; 
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.wineRegion{
  display: flex;
  justify-content: space-around;
  height: 630px;
  /* margin-right: 50px; */
}

.wineList, .WineryDescription {
  width: 500px;
  height: 550px;
  padding-top: 30px;
  overflow-y: scroll;
  font-family: var(--fontFamily);
}

.WineryDescription{
  padding: 50px;
}

figcaption{
  font-family: var(--fontFamily);
  color: var(--textColorSchPg);
  font-weight: bolder;

}

.wineList a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.wineList a:hover {
  background-color: #ccc;
}

.wineList a.active {
  background-color: var(--titleBackgroundColor);
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 340px;
  gap: 10px;
  color: var(--textColor);
  font-family: var(--fontFamily);
}

footer>i{
  text-align: center;
}
footer>p, .WineryDescription{
  /* display: none; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.searchPage{
  color: var(--textColorSchPg);
  margin-top: 0px;
}




